img {
    height: 200px;
    width: 300px;
}

.noflexzone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.memebox {
    padding-right: 10px;
}

#dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
}

#dialog-screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 20;
    background-color: black;
    opacity: .4;
}

#dialog-body {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 100px;
    width: 300px;
    z-index: 30;
    position: relative;
    padding: 16px;
    padding-top: 40px;

}

#close {
    position: absolute;
    top: 12px;
    right: 12px;
}

#close:hover {
    cursor: pointer;
}

.meme {
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.meme-gallery {
    display: flex;
    flex-wrap: wrap;
}

#display-image {
    display: flex;
    flex-direction: column;
}

.center {
    text-align: center;
}

.icon {
    height: 17px;
    width: 17px;
}

body {
    background-image: url("./images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}